# An overly brief intro to R

This is meant as a very brief introduction to R, mainly summarizing features of R that are different from most other programming languages. There's a brief tour of vectors and lists before diving into data frames and comparing the old (pre-`tidyverse`) and new (`tidyverse`) way of doing things.

# Table of Contents
 <p><div class="lev1 toc-item"><a href="#An-overly-brief-intro-to-R" data-toc-modified-id="An-overly-brief-intro-to-R-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>An overly brief intro to R</a></div><div class="lev2 toc-item"><a href="#Vectors" data-toc-modified-id="Vectors-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Vectors</a></div><div class="lev2 toc-item"><a href="#Factors" data-toc-modified-id="Factors-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Factors</a></div><div class="lev2 toc-item"><a href="#Lists" data-toc-modified-id="Lists-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Lists</a></div><div class="lev2 toc-item"><a href="#Data-frames" data-toc-modified-id="Data-frames-14"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Data frames</a></div><div class="lev3 toc-item"><a href="#Selecting-rows" data-toc-modified-id="Selecting-rows-141"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Selecting rows</a></div><div class="lev4 toc-item"><a href="#The-old-way:-logical-indexing" data-toc-modified-id="The-old-way:-logical-indexing-1411"><span class="toc-item-num">1.4.1.1&nbsp;&nbsp;</span>The old way: logical indexing</a></div><div class="lev4 toc-item"><a href="#The-new-way:-filter" data-toc-modified-id="The-new-way:-filter-1412"><span class="toc-item-num">1.4.1.2&nbsp;&nbsp;</span>The new way: filter</a></div><div class="lev3 toc-item"><a href="#Reordering-rows" data-toc-modified-id="Reordering-rows-142"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Reordering rows</a></div><div class="lev4 toc-item"><a href="#The-old-way:-vectorized-indexing-with-order" data-toc-modified-id="The-old-way:-vectorized-indexing-with-order-1421"><span class="toc-item-num">1.4.2.1&nbsp;&nbsp;</span>The old way: vectorized indexing with order</a></div><div class="lev4 toc-item"><a href="#The-new-way:-arrange" data-toc-modified-id="The-new-way:-arrange-1422"><span class="toc-item-num">1.4.2.2&nbsp;&nbsp;</span>The new way: arrange</a></div><div class="lev3 toc-item"><a href="#Selecting-columns" data-toc-modified-id="Selecting-columns-143"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Selecting columns</a></div><div class="lev4 toc-item"><a href="#The-old-way:-manual-or-logical-indexing" data-toc-modified-id="The-old-way:-manual-or-logical-indexing-1431"><span class="toc-item-num">1.4.3.1&nbsp;&nbsp;</span>The old way: manual or logical indexing</a></div><div class="lev4 toc-item"><a href="#The-new-way:-select" data-toc-modified-id="The-new-way:-select-1432"><span class="toc-item-num">1.4.3.2&nbsp;&nbsp;</span>The new way: select</a></div><div class="lev3 toc-item"><a href="#Modifying-columns" data-toc-modified-id="Modifying-columns-144"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Modifying columns</a></div><div class="lev4 toc-item"><a href="#The-old-way:-the-dollar-operator" data-toc-modified-id="The-old-way:-the-dollar-operator-1441"><span class="toc-item-num">1.4.4.1&nbsp;&nbsp;</span>The old way: the dollar operator</a></div><div class="lev4 toc-item"><a href="#The-new-way:-mutate" data-toc-modified-id="The-new-way:-mutate-1442"><span class="toc-item-num">1.4.4.2&nbsp;&nbsp;</span>The new way: mutate</a></div><div class="lev3 toc-item"><a href="#Summarizing-columns" data-toc-modified-id="Summarizing-columns-145"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>Summarizing columns</a></div><div class="lev4 toc-item"><a href="#The-old-way:-the-dollar-operator" data-toc-modified-id="The-old-way:-the-dollar-operator-1451"><span class="toc-item-num">1.4.5.1&nbsp;&nbsp;</span>The old way: the dollar operator</a></div><div class="lev4 toc-item"><a href="#The-new-way:-summarize" data-toc-modified-id="The-new-way:-summarize-1452"><span class="toc-item-num">1.4.5.2&nbsp;&nbsp;</span>The new way: summarize</a></div><div class="lev3 toc-item"><a href="#Split-/-apply-/-combine-with-group_by" data-toc-modified-id="Split-/-apply-/-combine-with-group_by-146"><span class="toc-item-num">1.4.6&nbsp;&nbsp;</span>Split / apply / combine with <code>group_by</code></a></div><div class="lev2 toc-item"><a href="#Warnings" data-toc-modified-id="Warnings-15"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Warnings</a></div><div class="lev3 toc-item"><a href="#group_by-has-side-effects,-so-always-ungroup-intermediate-results" data-toc-modified-id="group_by-has-side-effects,-so-always-ungroup-intermediate-results-151"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span><code>group_by</code> has side effects, so <strong>always <code>ungroup</code></strong> intermediate results</a></div><div class="lev4 toc-item"><a href="#Ungroup-for-performance" data-toc-modified-id="Ungroup-for-performance-1511"><span class="toc-item-num">1.5.1.1&nbsp;&nbsp;</span>Ungroup for performance</a></div><div class="lev4 toc-item"><a href="#Ungroup-for-correctness" data-toc-modified-id="Ungroup-for-correctness-1512"><span class="toc-item-num">1.5.1.2&nbsp;&nbsp;</span>Ungroup for correctness</a></div><div class="lev3 toc-item"><a href="#Arranging-within-groups" data-toc-modified-id="Arranging-within-groups-152"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Arranging within groups</a></div><div class="lev3 toc-item"><a href="#Unintentionally-overwriting-columns" data-toc-modified-id="Unintentionally-overwriting-columns-153"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Unintentionally overwriting columns</a></div><div class="lev3 toc-item"><a href="#Tricky-variable-scoping" data-toc-modified-id="Tricky-variable-scoping-154"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>Tricky variable scoping</a></div><div class="lev3 toc-item"><a href="#Forgetting-to-use-vectorized-functions" data-toc-modified-id="Forgetting-to-use-vectorized-functions-155"><span class="toc-item-num">1.5.5&nbsp;&nbsp;</span>Forgetting to use vectorized functions</a></div>

In [1]:
# load all packages in the tidyverse, although we'll use only dplyr here
library(tidyverse)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages -----------------------------------------------------------------------------------------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

## Vectors

In [2]:
# vectors hold values of the same type
# c() is the "concatenation" operator
c(1,2,3)

[1] 1 2 3

In [3]:
# the colon operator is handy for generating sequential vectors
1:3

[1] 1 2 3

In [4]:
# seq is good for other intervals
seq(1, 10, by=2)

[1] 1 3 5 7 9

In [5]:
# watch out for silent type coercion
c(1,'a')
c(1,'2')
c('alice','bob')

[1] "1" "a"

[1] "1" "2"

[1] "alice" "bob"

In [6]:
# vectors can have named columns
v <- c(alice=1, bob=2)
v["alice"]

alice
    1

## Factors

In [7]:
# factors are for categorical variables
# they have labels that are mapped to levels
v <- c('alice','bob','bob','alice','alice')
v <- as.factor(v)
str(v)

 Factor w/ 2 levels "alice","bob": 1 2 2 1 1

In [8]:
# R tries to perform the right operation based on the data type
# for example, computing a table of counts to summarize categorical data
summary(v)

alice   bob
    3     2

## Lists

In [9]:
# lists hold mixed data types, similar to dictionaries in most other languages
# they can have integer or named indices
# we won't work with them much directly
list(1, c('a','b','c'))
list(alice=1, bob=c('a','b','c'))

[[1]]
[1] 1

[[2]]
[1] "a" "b" "c"

$alice
[1] 1

$bob
[1] "a" "b" "c"

## Data frames

In [10]:
# data frames hold tabular data, implemented as a list of vectors of the same length

# assign the first 6 rows of the built-in iris dataset as a toy dataframe
df <- head(iris)
df

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [11]:
# inspect the structure of the data frame
str(df)

'data.frame':	6 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1

In [12]:
# compute summary statistics for each column
# notice that the factor in the last column is summarized differently
summary(df)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width           Species
 Min.   :4.600   Min.   :3.000   Min.   :1.300   Min.   :0.2000   setosa    :6
 1st Qu.:4.750   1st Qu.:3.125   1st Qu.:1.400   1st Qu.:0.2000   versicolor:0
 Median :4.950   Median :3.350   Median :1.400   Median :0.2000   virginica :0
 Mean   :4.950   Mean   :3.383   Mean   :1.450   Mean   :0.2333
 3rd Qu.:5.075   3rd Qu.:3.575   3rd Qu.:1.475   3rd Qu.:0.2000
 Max.   :5.400   Max.   :3.900   Max.   :1.700   Max.   :0.4000

In [13]:
# look at the fifth row
df[5, ]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
5 5            3.6         1.4          0.2         setosa

In [14]:
# three different ways to look at the second column

# by index
df[ , 2]

# by name
df[ , "Sepal.Width"]

# extracting the column vector
df$Sepal.Width

[1] 3.5 3.0 3.2 3.1 3.6 3.9

[1] 3.5 3.0 3.2 3.1 3.6 3.9

[1] 3.5 3.0 3.2 3.1 3.6 3.9

### Selecting rows

#### The old way: logical indexing

In [15]:
# select all rows with Sepal.Length at least 5
df[df$Sepal.Length >= 5, ]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [16]:
# equivalent to selecting rows 1, 5, and 6 using a logical vector
df[c(T,F,F,F,T,T), ]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#### The new way: filter

In [17]:
# nicer syntax for the same thing
# note: the second entry of filter is a logical vector
filter(df, Sepal.Length >= 5)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 5.0          3.6         1.4          0.2         setosa
3 5.4          3.9         1.7          0.4         setosa

In [18]:
# filter ANDs conditions when given multiple arguments
filter(df, Sepal.Length >= 5, Petal.Length <= 1.4)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 5.0          3.6         1.4          0.2         setosa

In [19]:
# other logical combinations must be manually specified as one argument
# make sure to use the vector-friendly | and & (not || and &&)
filter(df, Sepal.Length >= 5 | Petal.Length <= 1.4)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 5.0          3.6         1.4          0.2         setosa
5 5.4          3.9         1.7          0.4         setosa

In [20]:
# count the rows in the full iris dataframe where the species starts with a v
nrow(filter(iris, grepl('^v', Species)))

[1] 100

### Reordering rows

#### The old way: vectorized indexing with order

In [21]:
df[order(df$Sepal.Length), ]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
4 4.6          3.1         1.5          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
1 5.1          3.5         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#### The new way: arrange

In [22]:
# nicer syntax for the same thing
arrange(df, Sepal.Length)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.6          3.1         1.5          0.2         setosa
2 4.7          3.2         1.3          0.2         setosa
3 4.9          3.0         1.4          0.2         setosa
4 5.0          3.6         1.4          0.2         setosa
5 5.1          3.5         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

### Selecting columns

#### The old way: manual or logical indexing

In [23]:
# extract the Sepal columns
df[ , c("Sepal.Length", "Sepal.Width")]

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

In [24]:
# same as above, but matches any column starting with "Sepal"
df[, grepl("Sepal", names(df))]

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

#### The new way: select

In [25]:
# nicer syntax for the same thing
select(df, Sepal.Length, Sepal.Width)

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

In [26]:
select(df, matches("Sepal"))

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

### Modifying columns

#### The old way: the dollar operator

In [27]:
# create a new column by adding the sepal and petal widths
df$total_width <- df$Sepal.Width + df$Petal.Width

#### The new way: mutate

In [28]:
# nicer syntax for the same thing
# note: mutate always gives back same number of rows
mutate(df, total_width = Sepal.Width + Petal.Width)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species total_width
1 5.1          3.5         1.4          0.2         setosa  3.7
2 4.9          3.0         1.4          0.2         setosa  3.2
3 4.7          3.2         1.3          0.2         setosa  3.4
4 4.6          3.1         1.5          0.2         setosa  3.3
5 5.0          3.6         1.4          0.2         setosa  3.8
6 5.4          3.9         1.7          0.4         setosa  4.3

### Summarizing columns

#### The old way: the dollar operator

In [29]:
# compute the average sepal length
mean(df$Sepal.Length)

[1] 4.95

#### The new way: summarize

In [30]:
# nicer syntax for the same thing
# note: summarize gives back one row
summarize(df, mean_sepal_length=mean(Sepal.Length))

  mean_sepal_length
1 4.95

### Split / apply / combine with `group_by`

We won't even both with the old way.
It involved the [aggregate](http://stats.stackexchange.com/questions/8225/how-to-summarize-data-by-group-in-r) function, and it was ugly.

In [31]:
# first create "grouped data frame" by Species
# notice this modifies the internals of the data frame,
# adding indices that give the row numbers for each group
iris_by_species <- group_by(iris, Species)
str(iris_by_species)

Classes ‘grouped_df’, ‘tbl_df’, ‘tbl’ and 'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...
 - attr(*, "vars")=List of 1
  ..$ : symbol Species
 - attr(*, "drop")= logi TRUE
 - attr(*, "indices")=List of 3
  ..$ : int  0 1 2 3 4 5 6 7 8 9 ...
  ..$ : int  50 51 52 53 54 55 56 57 58 59 ...
  ..$ : int  100 101 102 103 104 105 106 107 108 109 ...
 - attr(*, "group_sizes")= int  50 50 50
 - attr(*, "biggest_group_size")= int 50
 - attr(*, "labels")='data.frame':	3 obs. of  1 variable:
  ..$ Species: Factor w/ 3 levels "setosa","versicolor",..: 1 2 3
  ..- attr(*, "vars")=List of 1
  .. ..$ : symbol Species
  ..- attr(*, "drop")= logi TRUE

In [32]:
# the summarize function respects these groups, and now returns one row per group
# compute the average and standard deviation of sepal length for each species
summarize(iris_by_species,
          count = n(),
          mean_sepal_length = mean(Sepal.Length),
          sd_sepal_length = sd(Sepal.Length))

  Species    count mean_sepal_length sd_sepal_length
1 setosa     50    5.006             0.3524897
2 versicolor 50    5.936             0.5161711
3 virginica  50    6.588             0.6358796

In [33]:
# we can do the same thing without the intermediate data frame,
# reading it inside-out
summarize(group_by(iris, Species),
          count = n(),
          mean_sepal_length = mean(Sepal.Length),
          sd_sepal_length = sd(Sepal.Length))

  Species    count mean_sepal_length sd_sepal_length
1 setosa     50    5.006             0.3524897
2 versicolor 50    5.936             0.5161711
3 virginica  50    6.588             0.6358796

In [34]:
# reading inside-out is awkward
# the pipe operator (`%>%`) to the rescue
# df %>% f() is equivalent to f(df)
# df %>% f(x, .) is equivalent to f(x, df)
iris %>%
  group_by(Species) %>%
  summarize(count = n(),
            mean_sepal_length = mean(Sepal.Length),
            sd_sepal_length = sd(Sepal.Length))

  Species    count mean_sepal_length sd_sepal_length
1 setosa     50    5.006             0.3524897
2 versicolor 50    5.936             0.5161711
3 virginica  50    6.588             0.6358796

In [35]:
# the other dplyr verbs respect group_by as well
# for instance, select the flower for each species with the largest sepal length
iris %>%
    group_by(Species) %>%
    filter(Sepal.Length == max(Sepal.Length))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.8          4.0         1.2          0.2         setosa
2 7.0          3.2         4.7          1.4         versicolor
3 7.9          3.8         6.4          2.0         virginica

In [36]:
# you can use any vectorized function inside of summarize, mutate, etc
# so long as it returns a vector of the appropriate length (1 or N rows)
# for instance, compute z-scores for the sepal lengths within species
iris %>%
    group_by(Species) %>%
    mutate(z_sepal_length = (Sepal.Length - mean(Sepal.Length)) / sd(Sepal.Length)) %>%
    head

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species z_sepal_length
1 5.1          3.5         1.4          0.2         setosa   0.26667447
2 4.9          3.0         1.4          0.2         setosa  -0.30071802
3 4.7          3.2         1.3          0.2         setosa  -0.86811050
4 4.6          3.1         1.5          0.2         setosa  -1.15180675
5 5.0          3.6         1.4          0.2         setosa  -0.01702177
6 5.4          3.9         1.7          0.4         setosa   1.11776320

In [37]:
# there are plenty of helper functions for easy vectorized operations
# for instance, select 3 flowers with the largest sepal length for each species
# n, row_number, desc, ifelse, cumsum, lead, lag, rank, and n_distinct are especially useful
# more here: https://cran.r-project.org/web/packages/dplyr/vignettes/window-functions.html
iris %>%
    group_by(Species) %>%
    arrange(desc(Sepal.Length)) %>%
    mutate(sepal_length_rank = row_number()) %>%
    filter(sepal_length_rank <= 3)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species    sepal_length_rank
1 7.9          3.8         6.4          2.0         virginica  1
2 7.7          3.8         6.7          2.2         virginica  2
3 7.7          2.6         6.9          2.3         virginica  3
4 7.0          3.2         4.7          1.4         versicolor 1
5 6.9          3.1         4.9          1.5         versicolor 2
6 6.8          2.8         4.8          1.4         versicolor 3
7 5.8          4.0         1.2          0.2         setosa     1
8 5.7          4.4         1.5          0.4         setosa     2
9 5.7          3.8         1.7          0.3         setosa     3

## Warnings

### `group_by` has side effects, so **always `ungroup`** intermediate results
It's common to store grouped data in an intermediate variable and do something with it downstream. Forgetting about the implicit grouping downstream can lead to unexpected issues, both in performance and correctness of code.

The solution is to always ungroup when creating intermediate tables.

#### Ungroup for performance

In [38]:
# create a dummy dataframe with 100,000 groups and 1,000,000 rows
# and partition by group_id
set.seed(42)
df <- data.frame(group_id=sample(1:1e5, 1e6, replace=T),
                 val=sample(1:100, 1e6, replace=T)) %>%
  group_by(group_id)

head(df)

  group_id val
1 91481    47
2 93708    42
3 28614    86
4 83045    16
5 64175    53
6 51910    41

In [39]:
# filter rows with a value of 1 naively
# this takes a long time because it first loops over groups and then values within group
system.time(df %>% filter(val == 1))

   user  system elapsed
  2.063   0.042   2.364

In [40]:
# ungroup before filtering for a huge speedup
# this is substantially faster because it ignores groups
df <- df %>%
    ungroup()
system.time(df %>% filter(val == 1))

   user  system elapsed
  0.007   0.004   0.013

#### Ungroup for correctness

In [41]:
# create a smaller toy data frame with three groups and random values
set.seed(42)
df <- data.frame(group_id = sample(c('a','b','c'), 10, replace = T),
                 val = sample(1:10, 10))
df

   group_id val
1  c         5
2  c         7
3  a         8
4  c         2
5  b         3
6  b        10
7  c         4
8  a         1
9  b         6
10 c         9

In [42]:
# let's say you use mutate to add a column with a count of the number of observations per group
df1 <- df %>%
    group_by(group_id) %>%
    mutate(num_in_group = n())
df1

   group_id val num_in_group
1  c         5  5
2  c         7  5
3  a         8  2
4  c         2  5
5  b         3  3
6  b        10  3
7  c         4  5
8  a         1  2
9  b         6  3
10 c         9  5

In [43]:
# later you'd like to normalize the val column
df1 <- df1 %>%
    mutate(frac = val / sum(val))
df1

   group_id val num_in_group frac
1  c         5  5            0.18518519
2  c         7  5            0.25925926
3  a         8  2            0.88888889
4  c         2  5            0.07407407
5  b         3  3            0.15789474
6  b        10  3            0.52631579
7  c         4  5            0.14814815
8  a         1  2            0.11111111
9  b         6  3            0.31578947
10 c         9  5            0.33333333

In [44]:
# glancing at the last column shows that frac sums to more than 1
# in fact, it sums to 3 because the sum() inside the mutate
# was applied within each of the 3 groups
sum(df1$frac)

[1] 3

In [45]:
# ungrouping the intermediate data avoids this problem
# compute the number in each group and ungroup
df2 <- df %>%
    group_by(group_id) %>%
    mutate(num_in_group = n()) %>%
    ungroup()

# then normalize the val column
df2 <- df2 %>%
    mutate(frac = val / sum(val))

# check that things look good
df2

   group_id val num_in_group frac
1  c         5  5            0.09090909
2  c         7  5            0.12727273
3  a         8  2            0.14545455
4  c         2  5            0.03636364
5  b         3  3            0.05454545
6  b        10  3            0.18181818
7  c         4  5            0.07272727
8  a         1  2            0.01818182
9  b         6  3            0.10909091
10 c         9  5            0.16363636

In [46]:
# frac sums to 1
sum(df2$frac)

[1] 1

### Arranging within groups

In [47]:
# arrange works within groups, reordering rows on a per-group basis
# but it doesn't display the output sorted by group
df %>%
    group_by(group_id) %>%
    arrange(val) %>%
    mutate(rank = row_number())

   group_id val rank
1  a         1  1
2  c         2  1
3  b         3  1
4  c         4  2
5  c         5  3
6  b         6  2
7  c         7  4
8  a         8  2
9  c         9  5
10 b        10  3

In [48]:
# it's easy to forget this
# so it's good practice to use the group variable(s) as the first argument(s) to arrange
# this also displays the output in grouped order
df %>%
    group_by(group_id) %>%
    arrange(group_id, val) %>%
    mutate(rank = row_number())

   group_id val rank
1  a         1  1
2  a         8  2
3  b         3  1
4  b         6  2
5  b        10  3
6  c         2  1
7  c         4  2
8  c         5  3
9  c         7  4
10 c         9  5

### Unintentionally overwriting columns

In [49]:
# it's easy to generate multiple transformations at once
df %>%
  summarize(mean_val = mean(val),
            sd_val = sd(val))

  mean_val sd_val
1 5.5      3.02765

In [50]:
# but sometimes we get lazy about variable names and overwrite things
# for instance, this implicitly clobbers the val column
# before the sd() function is called, returning the wrong result
df %>%
  summarize(val = mean(val),
            sd = sd(val))

  val sd
1 5.5 1.739253

In [51]:
sd(df$val)

[1] 3.02765

### Tricky variable scoping

In [52]:
# let's say you want to find all rows with a certain value (e.g., 10)
# so you put that value into a variable
val <- 10

# then you filter, but you get every row back
filter(df, val == val)

   group_id val
1  c         5
2  c         7
3  a         8
4  c         2
5  b         3
6  b        10
7  c         4
8  a         1
9  b         6
10 c         9

In [53]:
# filter has the column df$val in scope
# and so val == val evaluates to true for every row
# use more specific names to avoid such problems
my_val <- 10
filter(df, val == my_val)

  group_id val
1 b        10


### Forgetting to use vectorized functions

In [54]:
# sometimes it's easy to write a function that operates on one value
# but all functions used inside mutate and summarize must work on vectors

# for instance, let's say you have a simple function that 
# collapses groups 'a' and 'b' into one group and 'c' into another

# create a simple function to do this
f <- function(x) {
  if (x == 'a' || x == 'b')
      'A or B'
  else
      'C'
}

# verify that it does the right thing on individual values
f('a')
f('b')
f('c')

[1] "A or B"

[1] "A or B"

[1] "C"

In [55]:
# now use it inside of mutate
# notice that the new column is all 'C's
df %>%
      mutate(new_col = f(group_id))

   group_id val new_col
1  c         5  C
2  c         7  C
3  a         8  C
4  c         2  C
5  b         3  C
6  b        10  C
7  c         4  C
8  a         1  C
9  b         6  C
10 c         9  C

In [56]:
# this is because the function wasn't made to handle vectors
f(c('a','b','c'))

[1] "A or B"

In [57]:
# we can use the Vectorize function to fix this
g <- Vectorize(f)

g(c('a','b','c'))

       a        b        c
"A or B" "A or B"      "C"

In [58]:
# and now things work correctly inside of mutate
df %>%
      mutate(new_col = g(group_id))

   group_id val new_col
1  c         5  C
2  c         7  C
3  a         8  A or B
4  c         2  C
5  b         3  A or B
6  b        10  A or B
7  c         4  C
8  a         1  A or B
9  b         6  A or B
10 c         9  C

In [59]:
# ifelse is a handy shortcut for this sort of thing
# where you have ifelse(<condition>, <result if true>, <result if false>)
v <- c('a','b','c')
ifelse(v == 'a' | v == 'b', 'AB', 'C')

[1] "AB" "AB" "C"

In [60]:
# which is handy inside of mutate
# and avoids having to define lots of functions
# just be careful to use | and & instead of || and && here as well
df %>%
  mutate(new_col = ifelse(group_id == 'a' | group_id == 'b', 'AB', 'C'))

   group_id val new_col
1  c         5  C
2  c         7  C
3  a         8  AB
4  c         2  C
5  b         3  AB
6  b        10  AB
7  c         4  C
8  a         1  AB
9  b         6  AB
10 c         9  C